@model ClassLibrary3.dep

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>dep</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="depid" class="control-label"></label>
                <input asp-for="depid" class="form-control" />
                <span asp-validation-for="depid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="depname" class="control-label"></label>
                <input asp-for="depname" class="form-control" />
                <span asp-validation-for="depname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Add">Back to List</a>
</div>

