@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="Abc">Welcome</h1>
    <p>Learn about <a href="https://www.youtube.com/watch?v=jhj9ouy7x1g&t=3999s&ab_channel=SameerSaini"><i class="bi bi-youtube"></i></a>.</p>
</div>
