
@model Crud_3.Models.Employee

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <div class="row"></div>
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center text-primary">Add Employee</h1>
                <div class="card-body">
                    <form method="post" asp-action="Create">
                        <div class="form-group">
                             <label asp-for="Name"></label> 
                             <input type="text" asp-for="Name" class="form-control"
                             placeholder="Enter employee name"/>
                             
                        </div>

                        <div class="form-group">
                            <label asp-for="City"></label>
                            <input type="text" asp-for="City" class="form-control"
                                   placeholder="Enter City name" />

                        </div>

                        <div class="form-group">
                            <label asp-for="State"></label>
                            <input type="text" asp-for="State" class="form-control"
                                   placeholder="Enter State name" />

                        </div>
                        <div class="form-group">
                            <label asp-for="Salary"></label>
                            <input type="text" asp-for="Salary" class="form-control"
                                   placeholder="Enter Salary " />

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-sm btn-outline-success floatright"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


